{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}*
	
	<div class="container">
	<h1>Formulaire de connexion</h1>
		<form action="{{ path('security_login') }}" method="post">
			<div class="form-group">
				<label for="pwd">Email :</label>
				<input type="email" class="form-control" name="_email" id="_email">
			</div>
				<div class="form-group">
				<label for="pwd">Mot de passe :</label>
				<input type="password" class="form-control" name="_password" id="_password">
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
				<input class="form-check-input" type="checkbox"> Se souvenir de moi
				</label>
			</div>
			<button type="submit" class="btn btn-primary">Je me connecte !</button>
		</form>
	</div>
{% endblock %}
