{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}

	<div class="container">
		<h1>Formulaire d'inscription</h1>
		<form action="#"  method="post">
			<div class="form-group">
				<label for="email">Nom de compte : </label>
				<input type="text" class="form-control" name="_username" id="_username">
			</div>
			<div class="form-group">
				<label for="pwd">Email :</label>
				<input type="email" class="form-control" name="_email" id="_email">
			</div>
				<div class="form-group">
				<label for="pwd">Mot de passe :</label>
				<input type="password" class="form-control" name="_password" id="_password">
			</div>
			<button type="submit" class="btn btn-primary">Je m'inscris !</button>
		</form>
	</div>
{% endblock %}
