{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}


    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Page Heading
          <small>Secondary Text</small>
        </h1>

        <!-- Blog Post -->
      {% for article in articles %}
        <article>
          <h2>{{ article.titre }}</h2>
          <div class="metadata">Ecrit le {{ article.dateCreation | date('d/m/Y')}}  dans la catégorie {{ article.categorie}}</div>
          <div class="content">
            {% set some_html = article.contenu %}     
            <img src="{{ article.image}}" alt="{{ article.titre }}">
            <p>
              {{ some_html[:300]|striptags ~ ' ...' }}  
            </p>
            <a href="{{ path('blog_show', {'id' : article.id }) }}" class="btn btn-primary">Lire la suite</a>
          </div>
        </article>
        <br>
        <hr>
      {% endfor %}


        <!-- Pagination -->
        {# <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul> #}

      </div>
{# 
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div> #}

    </div>
    <!-- /.row -->

  <script type="text/javascript">
  var count = 6;
  var redirect = "http://127.0.0.1:8000/blog";
  
  function countDown(){
      var timer = document.getElementById("timer");
      if(count > 0){
          count--;
          timer.innerHTML = "This page will redirect in "+count+" seconds.";
          setTimeout("countDown()", 1000);
      }else{
          window.location.href = redirect;
      }
  }
  </script>
  
  Our webpage has beed moved. Please update your bookmarks for the new site.
  <br>
  
  <span id="timer">
  <script type="text/javascript">countDown();</script>
  </span>
{% endblock %}
