{% extends 'base.html.twig' %}

{% block title %}Hello TemplateController!{% endblock %}

{% block body %}
        <article>
          <h2>{{ article.titre }}</h2>
          <div class="metadata">Ecrit le {{ article.dateCreation | date('d/m/Y')}}  dans la catégorie {{ article.categorie}}</div>
          <div class="content">  
            <img src="{{ article.image}}" alt="{{ article.titre }}">
            <p>
              {{ article.contenu }}  
            </p>
          </div>
        </article>
{% endblock %}
