<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        {# administration #}
        {# <link rel="stylesheet" href="assets/js/admin-biblio/bootstrap/dist/css/bootstrap.min.css"> #}
        <link rel="stylesheet" href="../assets/js/admin-biblio/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/js/admin-biblio/themify-icons/css/themify-icons.css">
        <link rel="stylesheet" href="../assets/js/admin-biblio/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="../assets/js/admin-biblio/selectFX/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="../assets/js/admin-biblio/jqvmap/dist/jqvmap.min.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="../assets/css/administration/style.css">
        <link rel="stylesheet" href="../assets/css/administration/style.css.map">

        
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "parts/menuAdmin.html.twig" %}


        {% block body %}{% endblock %}

       
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {# <script src="assets/js/admin-biblio/jquery/dist/jquery.min.js"></script>
        <script src="assets/js/admin-biblio/popper.js/dist/umd/popper.min.js"></script>
        <script src="assets/js/admin-biblio/bootstrap/dist/js/bootstrap.min.js"></script> #}
        <script src="../assets/js/administration/main.js"></script>


        <script src="../assets/js/admin-biblio/chart.js/dist/Chart.bundle.min.js"></script>
        <script src="../assets/js/administration/dashboard.js"></script>
        <script src="../assets/js/administration/widgets.js"></script>
        <script src="../assets/js/admin-biblio/jqvmap/dist/jquery.vmap.min.js"></script>
        <script src="../assets/js/admin-biblio/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <script src="../assets/js/admin-biblio/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    </body>
</html>
