{% extends 'admin.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
       
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Administration des articles</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active"><a href="{{ path('creationArticle') }}" class="btn btn-primary" name="edit">Créer un article</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xs-12 col-md-12">
            

            <table id="myTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom de l'article</th>
                    <th>Catégorie</th>
                    <th>Créer le </th>
                    <th>Autheur </th>
                </tr>
                </thead>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.titre}}</td>
                        <td>{{ article.Categorie}}</td>
                        <td>{{ article.DateCreation  | date('d/m/Y')}}</td>
                        <td>{{ article.Autheur }}</td>
                        <td>
                            <form action="#" method="POST" name="formedit">
                                <input type="hidden" name="blog_id" value="{{article.id}}">
                                <a href="{{ path('blog_edit', {'id' : article.id }) }}" class="btn btn-primary" name="editArticle">Edit</a> 
                                <button type="submt" class="btn btn-danger" name="deleteArticle">Delete</button>
                            </form>       
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div><!-- /#right-panel -->
{% endblock %}





