{% extends 'admin.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
    
    {% if editMode %}
        <h1>Modification de l'article "{{ article.Titre }}</h1>
    {% else %}
        <h1>Création d'un article !</h1>
    {% endif %}

    {{ form_start(formArticle) }}  
        {{ form_row(formArticle.Titre, {'attr': {'placeholder': "Titre de l'article"}}) }}
        {{ form_row(formArticle.Categorie) }}
        {{ form_row(formArticle.Contenu, {'attr': {'placeholder': "Contenu de l'article"}}) }}
        {{ form_row(formArticle.Image, {'attr': {'placeholder': "URL de l'image"}}) }}

        <button type="submt" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter l'article
            {% endif %}
        </button>
    {{ form_end(formArticle)}}
    
{% endblock %}
