{% extends 'admin.html.twig' %}

{% block title %}Hello seo!{% endblock %}

{% block body %}
       
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <h1>SEO</h1>

        {% for page in pages %}
            {{ page }} <br>
        {% endfor %}
    </div>
{% endblock %}





