<nav class="headMenu navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="{{ path('home') }}">Symfony CMS</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Blog
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('blog') }}">Blog</a>
            <a class="dropdown-item" href="{{ path('creationArticle') }}">Créer un article</a>
            <a class="dropdown-item" href="{{ path('adminArticle') }}">Editer le blog</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('template') }}">Template</a>
    </li>


  
    {% if not app.user %}
    <li class="nav-item"><a class="ticker-btn" href="{{ path('app_register') }}">Inscription</a></li>
    <li class="nav-item" ><a class="ticker-btn" href="{{ path('app_login') }}">Connexion</a></li>		
    {% else %}		
    <li class="nav-item">
        <a class="nav-link" href="{{ path('users') }}">Profil utilisateur</a>
    </li>
    <li class="nav-item" ><a class="ticker-btn" href="{{ path('administration') }}">Administration</a></li>		 
    <li class="nav-item" ><a class="ticker-btn" href="{{ path('app_logout') }}">Deconnexion</a></li>		 
    {% endif %}      
  </ul>
</nav>
